.bannerprop {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.8s 0s, visibility 0s 0.8s;
  -moz-transition: opacity 0.8s 0s, visibility 0s 0.8s;
  transition: opacity 0.8s 0s, visibility 0s 0.8s;
  position: absolute;
  z-index: 2;
}

.bannerprop.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.8s 0s, visibility 0.8s 0s;
  -moz-transition: opacity 0.8s 0s, visibility 0.8s 0s;
  transition: opacity 0.8s 0s, visibility 0.8s 0s;

}

.openDown {
  text-align: center;
  margin: 0 auto;
}

.openDown p {
  text-align: center;
  font-size: 16px;
  color: #FFF;
  letter-spacing: 3px;
}

.openDown {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -120px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 20px 40px;
}

.openDown Img {
  width: 30px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.openDown Img img {
  width: 100%;
  height: auto;
}

/*---------s-滚动图片---------*/
#banner {
  position: relative;
  overflow: hidden;
  height: auto;
}

#banner .slides {
  position: relative;
  z-index: 1;
}

#banner .slides li {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#banner .slides li img {
  width: 100%;
  height: auto;
}

#banner .flex-control-nav {
  position: absolute;
  bottom: 2vh;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}

#banner .flex-control-nav.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  transition: opacity 0.5s 0s, visibility 0.5s 0s;

}

#banner .flex-control-nav li {
  display: inline-block;
  width: 2vw;
  height: .3vh;
  margin: 0 5px;
  *display: inline;
  zoom: 1;
}

#banner .flex-control-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
  border-radius: 0;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

#banner .flex-control-nav .flex-active {
  background: #df0716;
}

#banner .flex-direction-nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  margin-top: -4vh;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  transition: all .3s;
}

#banner .flex-direction-nav li a {
  display: block;
  width: 2vw;
  height: 8vh;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
}

#banner .flex-direction-nav li a {
  font-family: "宋体";
  font-size: 1.5vw;
  line-height: 8vh;
  text-align: center;
}

#banner .flex-direction-nav li a.flex-prev:before {
  content: "<";
}

#banner .flex-direction-nav li a.flex-next:before {
  content: ">";
}

#banner .flex-direction-nav li a.flex-prev {
  left: 2vw;
  background: rgba(255, 255, 255, .5);
  transition: all .3s
}

#banner .flex-direction-nav li a:hover.flex-prev {
  background: rgba(255, 255, 255, 1);
  transition: all .3s
}

#banner .flex-direction-nav li a.flex-next {
  right: 2vw;
  background: rgba(255, 255, 255, .5);
  transition: all .3s
}

#banner .flex-direction-nav li a:hover.flex-next {
  background: rgba(255, 255, 255, 1);
  transition: all .3s
}


#banner .flex-direction-nav.show {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  ;
  transition: all .5s;
}

#banner .flex-direction-nav.hide {
  display: none;
  transition: all .5s;
}

/*---------e-滚动图片---------*/
@media (max-width: 768px) {
  #banner .slides {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 40px;
  }

  #banner .slides li {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #banner .flex-control-nav {
    bottom: 10px;
  }

  #banner .flex-control-nav li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
  }

  #banner .flex-control-nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
  }

  #banner .flex-control-nav .flex-active {
    background: #df0716;
  }

  .openDown {
    display: none;
  }

}